<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Terms</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">Terms Policy</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quis nam sapiente recusandae molestias fugiat nulla aliquam, itaque maxime ipsum delectus voluptate temporibus voluptates accusamus fugit corrupti laborum ullam, nihil libero enim pariatur perferendis aut? Magni ratione, velit voluptatum error voluptates illum itaque id. Ipsum sapiente temporibus, animi voluptatem eius. Eum facere reiciendis, voluptatum repellat rem esse illo aliquam ipsum vel voluptas quidem dolores quam earum ab debitis dolor assumenda ducimus consectetur necessitatibus et nam natus. Veritatis illum, facere pariatur aliquid saepe vero amet dicta molestias nemo cupiditate ipsa porro, earum reiciendis, consequatur modi natus quisquam minima voluptatibus at sapiente.</p>
                                <p>Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Temporibus, incidunt, in, delectus tempore deleniti natus et soluta enim id provident molestiae quae eius! Obcaecati quaerat, quibusdam maxime! Delectus aut repellendus quo alias sequi nemo dignissimos, magni asperiores nam maxime magnam voluptate deleniti doloremque recusandae ducimus, ratione. Itaque, vitae libero error qui modi nobis dolores, vero aspernatur repellat, aliquam maxime unde dolore. Iure rem dolores quasi numquam officia temporibus dicta recusandae non magni et quae consequuntur quam eligendi facere, repellat reprehenderit quidem ab in. Unde, quod, omnis commodi qui id dolores sunt provident iste cum recusandae deleniti veritatis atque facilis reprehenderit.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>